<div class="divider">
  <img src="assets/images/divider.png" alt="" />
</div>
<div class="samples">
  <div class="samples-container-intro">
    <div class="samples-text">
      <h2>Mitä mä teen?</h2>
      <p>
        Nyt just yritän saada nää kotisivut valmiiks ja sit myös töissä
        normaalisti!
      </p>
    </div>
    <img
      class="samples-image image-background"
      src="assets/images/cat.png"
      alt=""
    />
    <p
      style="
        font-size: larger;
        font-weight: 800;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        color: #ffba1a;
        padding-top: 30px;
      "
    >
      Alla pari avainjuttua, mut osaan mä muutakin!
    </p>
  </div>
  <div class="divider">
    <img src="assets/images/divider.png" alt="" />
  </div>
  <div class="flutter image-background">
    <img class="samples-image" src="assets/images/flutter.png" alt="" />
    <section>
      <p>
        Oon tehnyt Flutterilla mobiilisovelluksia 1,5 vuotta pääsääntöisesti
        asiakkaille. Nyt lisänä on oma projekti, joka on tarkoitettu perheeni
        käyttöön helpottamaan arkea. Tästä myöhemmin lisää..
      </p>
      <div>
        <p>
          Muutamia avainjuttuja mihin olen tutustunut Flutteria käytettäessä
        </p>
        <ul>
          <li>
            Flutterissa on käytössä on ollut Navigator ennen GoRouterin
            julkaisua.
          </li>
          <li>Tilanhallinnassa on käytetty Provideria, sekä Riverpodia</li>
          <li>Kameran käyttö QR-koodeja lukiessa</li>
          <li>Deep linking</li>
          <li>Push-ilmoitukset</li>
        </ul>
      </div>
    </section>
  </div>
  <div class="divider">
    <img src="assets/images/divider.png" alt="" />
  </div>
  <div class="aws">
    <img class="samples-image" src="assets/images/aws.png" alt="" />
    <div>
      <p class="samples-text">
        Muutamia avainjuttuja AWS:n palveluista, joiden parissa olen
        työskennellyt
      </p>
      <ul>
        <li>DynamoDB</li>
        <li>RDS-tietokannat</li>
        <li>Lambda</li>
        <li>SQS-jono</li>
        <li>AppSync</li>
        <li>API Gateway</li>
      </ul>
    </div>
    <p class="samples-text">
      ...Näiden lisäksi on muitakin, mutta niiden parissa, ehkä hieman vähemmän.
    </p>
  </div>
  <div class="divider">
    <img src="assets/images/divider.png" alt="" />
  </div>
  <!-- <div class="angular">
    <div>
      <p class="samples-text">
        Angular on tuttu. Muutamia kirjastoja joita olen käyttänyt datan
        visualisoinnissa Ag-grid ja js-plotly.
      </p>
    </div>
  </div> -->
  <div class="project-x">
    <h2 class="samples-text">Projekti X</h2>
    <img
      class="samples-image button"
      src="assets/images/project-x.png"
      alt=""
      (click)="navigate()"
    />
  </div>
  <div style="padding-bottom: 30px"></div>
</div>
