<div class="wrapper">
  <div class="background-text">Röntynen</div>
  <div class="contents">
    <div class="content">
      <h3 style="font-weight: 500">Moikka, olen</h3>
      <h2 style="color: #fdb933">Joni Röntynen</h2>
      <h1>
        <span> Software </span>
        <span> Engineer </span>
        <span style="color: #fdb933; font-size: 40px">.</span>
      </h1>
      <p>
        Ohjelmistokehittäjät usein työskentelevät usein tiimien, esimiesten ja
        asiakkaiden kanssa, he tarvitsevat vahvoja viestintätaitoja.
      </p>
      <div class="some-links">Somelinkit</div>
      <button mat-button class="cv-button">Lataa CV</button>
    </div>
    <div class="image">
      <div class="image-container">
        <!-- <div class="introduction-image" alt=""></div> -->

        <img
          class="introduction-image-background"
          src="assets/images/yellow-vector-background.png"
          alt=""
        />
        <img
          class="introduction-image"
          src="assets/images/me-ellipse.png"
          alt=""
        />

        <!-- <img class="introduction-arrow" src="assets/images/me-arrow.png" alt="" /> -->
      </div>
    </div>
  </div>
</div>
