<div class="wrapper">
  <div class="background-text">Röntynen</div>
  <div class="contents">
    <div class="content">
      <p>Moikka, olen</p>
      <p>Joni Röntynen</p>
      <p>Software Engineer.</p>
      <p>
        Ohjelmistokehittäjät usein työskentelevät usein tiimien, esimiesten ja
        asiakkaiden kanssa, he tarvitsevat vahvoja viestintätaitoja.
      </p>
      <div class="some-links">Somelinkit</div>
      <button>Lataa CV</button>
    </div>
    <div class="image">
      <div class="image-container">
        <!-- <div class="introduction-image" alt=""></div> -->

        <img
          class="introduction-image-background"
          src="assets/images/yellow-vector-background.png"
          alt=""
        />
        <img
          class="introduction-image"
          src="assets/images/me-ellipse.png"
          alt=""
        />

        <!-- <img class="introduction-arrow" src="assets/images/me-arrow.png" alt="" /> -->
      </div>
    </div>
  </div>
</div>
