@import '../../../mixins.scss';


.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 100px 20px 20px 20px;
  gap: 20px;
  height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-overflow: clip;
  width: 100%;
}

img {
  max-width: 80%;
  min-width: 150px;
  height: auto;
  align-self: flex-end;
}

.cv-button {
  background-color: #fdb933 !important;
  width: 100px;
  padding: 4px 8px;
}

.title {
  p{
    font-size: 40px;
    line-height: 0.8;
    font-weight: 600;
  }
}
.name {
  color:#fdb933;
  font-size: 20px;
  padding: 10px 0px;
}
.intro {
  font-weight: 500;
}
.introduction-image {
  padding: 30px;
  display: flex;
  justify-content: center;
}


@include desktop {
  .contents {
    display: flex;
    flex-direction: row;
  }
  .introduction-image {
    padding: 30px;
    display: flex;
    align-self: flex-start;
  }

}
