<div class="project-container">
  <h3>Projekti X, mikä ja miksi?</h3>
  <div>
    <section>
      <p>
        Projekti alkoi, kun halusin oman kauppalista-mobiilisovelluksen
        perheelle. Markkinoilla on varmasti jo olemassa tähän tarpeeseen hyviä
        sovelluksia, mutta tämä meni samalla harjoittelusta. Toteutus piti olla
        mahdollisimman halpa, eikä kiinteitä kuluja saisi olla. Lisäksi halusin
        kehittää omaa osaamista!
      </p>
    </section>
    <h4>Hahmottelu</h4>
    <section>
      <p>
        Projektia aloittaessani minun piti miettiä, miten haluan toteuttaa
        kokonaisuuden. Yhtenä vaihtoehtona oli käyttää valmiita
        pilvipalveluntarjoajia, kuten AWS, Google, Firebase tai Oracle. En
        halunnut, että free tier-rajoittaa liikaa tai tulee yllättäviä
        kustannuksia. Päädyin ostamaan itselleni vanhan toimistokoneen, josta
        tuli palvelin kotiin työpöydän alle lämmittämään jalkoja kylminä
        talvi-iltoina.
      </p>
    </section>
    <h4>Suunnittelu</h4>
    <section>
      Teknologiapuolella päätin käyttää jo tuttua
      <a href="https://flutter.dev/">Flutteria</a> mobiilisovelluksen
      kehitykseen. <a href="https://directus.io/"> Directus</a> valikoitui
      sisällönhallintaan, koska se sisältää myös käyttäjähallinnan. Tein myös
      alustavan tietorakennemallin, joka tarkentuu jatkossa, kun projekti etenee
    </section>
    <h4>Homma käyntiin!</h4>
    <section>
      Pohdintojen jälkeen oli aika startata projekti. Flutterilla sovelluksen
      runko oli nopea luoda, joskin palvelin ei ollut vielä konfattu.
      Kehitysvaiheessa käytin mock-dataa ja tässä yhteydessä tuli määritellä
      datan tietorakenne.
    </section>
   <app-project-mobile-app ></app-project-mobile-app>
    <h4>To be continued...</h4>
  </div>
</div>
