<div class="project-container">
  <h3>Projekti X, mikä?</h3>
  <div>
    <section>
      Projekti alkoi, kun halusin oman kauppalista-mobiilisovelluksen perheelle.
      Markkinoilla on varmasti jo olemassa tähän tarpeeseen hyviä sovelluksia,
      mutta tämä meni samalla harjoittelusta.
    </section>
    <h4>Hahmottelu</h4>
    <section>
      Projektia aloittaessa tuli miettiä, miten haluan toteuttaa kokonaisuuden.
      Yhtenä vaihtoehtona oli käyttää valmiita palveluntarjoajia (AWS, Google,
      Firebase, Oracle), mutta näissä kaikissa tuli free tier-rajoitukset
      vastaan melko nopeasti. Päädyin ostamaan itselleni vanhan toimistokoneen,
      josta tuli palvelin kotiin työpöydän alle lämmittämään jalkoja kylminä
      talvi-iltoina.
    </section>
    <h4>Suunnittelu</h4>
    <section>
      Teknologeina ajatus oli käyttää jo tuttua
      <a href="https://flutter.dev/">Flutteria</a>, sekä
      <a href="https://directus.io/"> Directusta</a> sisällönhallintaan.
      Directus tarjoaa myös hyvän käyttäjähallinnan, joten se tuo mukavan lisän
      kehitykseen. Tein myös alustavan tietorakennemallin, joka tarkentuu
      jatkossa, kun projekti etenee
    </section>
    <h4>Homma käyntiin!</h4>
    <section>
      Pohdintojen jälkeen oli aika startata projekti. Flutterilla sovelluksen
      runko oli nopea luoda, joskin palvelin ei ollut vielä konfattu.
      Kehitysvaiheessa käytin mock-dataa ja tässä yhteydessä tuli määritellä
      datan tietorakenne.
    </section>
    <h4>To be continued...</h4>
  </div>
</div>
