<mat-card>
  <mat-card-content>
    <div class="aws">
      <mat-card-title>
        <img class="samples-image" src="assets/images/aws.png" alt="" />
      </mat-card-title>
      <div>
        <p class="samples-text">
          Muutamia avainjuttuja AWS:n palveluista, joiden parissa olen
          työskennellyt
        </p>
        <ul>
          <li>DynamoDB</li>
          <li>RDS-tietokannat</li>
          <li>Lambda</li>
          <li>SQS-jono</li>
          <li>AppSync</li>
          <li>API Gateway</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
