.footer-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 50px;
  // background-color: #141414 ;
  align-content: center;
  align-items: flex-end;
  justify-items: flex-end;
}

p {
  color: #fdb933;
}

// .divider {
//   border-top-color: #fdba3339;
//   border-top-width: 5px;
// }
