<div class="privacy-policy">
  <h2>Tietosuojaseloste</h2>
  <h3>Kerättävät tiedot:</h3>
  <p>
    Sovellus kerää vain välttämättömät tiedot toimiakseen asianmukaisesti, kuten
    käyttäjänimi, sähköpostiosoite ja salasana.
  </p>

  <h3>Tietojen käyttötarkoitus:</h3>
  <p>
    Kerätyt tiedot ovat tarpeellisia käyttäjätilin luomista ja hallintaa varten.
    Emme käytä tietoja markkinointitarkoituksiin tai jaa niitä kolmansille
    osapuolille.
  </p>

  <h3>Tietojen säilytys:</h3>
  <p>
    Käyttäjätietoja säilytetään turvallisesti ja ne poistetaan, kun käyttäjä
    pyytää niiden poistamista.
  </p>

  <h3>Tietojen suojaus:</h3>
  <p>
    Käytämme asianmukaisia tietoturvakäytäntöjä ja -tekniikoita varmistaaksemme
    tietojen turvallisuuden.
  </p>

  <h3>Evästeet ja seuranta:</h3>
  <p>Sovellus ei käytä evästeitä tai muita seurantatekniikoita.</p>

  <h3>Kolmansien osapuolten linkit:</h3>
  <p>Sovellus ei sisällä linkkejä kolmansien osapuolten verkkosivustoille.</p>

  <h3>Tietojen luovutus:</h3>
  <p>
    Käyttäjän suostumuksella tai lakisääteisissä tilanteissa voimme luovuttaa
    tietoja viranomaisille.
  </p>

  <h3>Tietosuojaselosteen päivitys:</h3>
  <p>
    Pidätämme oikeuden päivittää tätä tietosuojaselostetta tarvittaessa.
    Käyttäjät saavat ilmoituksen olennaisista muutoksista.
  </p>

  <h3>Yhteystiedot:</h3>
  <p>
    Jos sinulla on kysyttävää tietosuojasta tai tästä selosteesta, ota yhteyttä
    osoitteeseen joni.m.rontynen&#64;gmail.com.
  </p>
</div>
