<div class="privacy-policy">
  <h2>Kerättävät tiedot:</h2>
  <p>
    Sovellus kerää vain välttämättömät tiedot toimiakseen asianmukaisesti, kuten
    käyttäjänimi, sähköpostiosoite ja salasana.
  </p>

  <h2>Tietojen käyttötarkoitus:</h2>
  <p>
    Kerätyt tiedot ovat tarpeellisia käyttäjätilin luomista ja hallintaa varten.
    Emme käytä tietoja markkinointitarkoituksiin tai jaa niitä kolmansille
    osapuolille.
  </p>

  <h2>Tietojen säilytys:</h2>
  <p>
    Käyttäjätietoja säilytetään turvallisesti ja ne poistetaan, kun käyttäjä
    pyytää niiden poistamista.
  </p>

  <h2>Tietojen suojaus:</h2>
  <p>
    Käytämme asianmukaisia tietoturvakäytäntöjä ja -tekniikoita varmistaaksemme
    tietojen turvallisuuden.
  </p>

  <h2>Evästeet ja seuranta:</h2>
  <p>Sovellus ei käytä evästeitä tai muita seurantatekniikoita.</p>

  <h2>Kolmansien osapuolten linkit:</h2>
  <p>Sovellus ei sisällä linkkejä kolmansien osapuolten verkkosivustoille.</p>

  <h2>Tietojen luovutus:</h2>
  <p>
    Käyttäjän suostumuksella tai lakisääteisissä tilanteissa voimme luovuttaa
    tietoja viranomaisille.
  </p>

  <h2>Tietosuojaselosteen päivitys:</h2>
  <p>
    Pidätämme oikeuden päivittää tätä tietosuojaselostetta tarvittaessa.
    Käyttäjät saavat ilmoituksen olennaisista muutoksista.
  </p>

  <h2>Yhteystiedot:</h2>
  <p>
    Jos sinulla on kysyttävää tietosuojasta tai tästä selosteesta, ota yhteyttä
    osoitteeseen joni.m.rontynen&#64;gmail.com.
  </p>
</div>
