<div class="header-toolbar">
  <div class="header-logo">
    <img class="header-logo-image" src="assets/images/header-logo.png" alt="" />
    <button mat-icon-button class="login-icon-button" (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div class="header-navigation-buttons">
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/main')"
      [ngClass]="{ selected: currentPath === '/main' }"
    >
      Esittely
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/skills')"
      [ngClass]="{ selected: currentPath === '/skills' }"
    >
      Osaaminen
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/project-x')"
      [ngClass]="{ selected: currentPath === '/project-x' }"
    >
      Projekti X
    </button>
  </div>
  <button
    mat-flat-button
    class="login-button"
    (click)="login()"
    target="_blank"
  >
    Kirjaudu
  </button>
</div>
