<mat-toolbar class="header-toolbar">
  <div class="header-logo">
    <img class="header-logo-image" src="assets/images/header-logo.png" alt="" />
    <button mat-icon-button class="login-icon-button" (click)="login($event)">
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div class="header-navigation-buttons">
    <button
      mat-button
      class="navigation-button"
      (click)="scrollToContent('introduction')"
      [ngClass]="{ selected: selectedId === 'introduction' }"
    >
      <p>Esittely</p>
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="scrollToContent('samples')"
      [ngClass]="{ selected: selectedId === 'samples' }"
    >
      <p>Osaaminen</p>
    </button>
    <button
      mat-flat-button
      class="login-button"
      (click)="login($event)"
      target="_blank"
    >
      Kirjaudu
    </button>
  </div>
  <!-- <mat-icon class="login-icon" (click)="login($event)">login</mat-icon> -->
</mat-toolbar>
<!-- </div> -->
