.header-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffdb  !important;
  margin-bottom: 100px;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  z-index: 20;
}

  .header-logo {
    padding-top: 10px;
  }


    header{
      grid-area: title;
      font-size: 3em;
      font-weight: 700;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color:#141414 ;
      align-self: self-start;
      justify-self: center;
      margin-top: 30px;
    }

    .login-button{
      background-color: #fdb933 !important;
      width: 100px;
      padding: 8px 16px;
    }
      .header-navigation-buttons{
        margin-left: 10%;
        display: flex;
        gap: 30px;
      }
        .navigation-button {
          color: rgb(0, 0, 0) !important;
          font-size: 20px;
        }
        .selected{
          color: #fdb933 !important;
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }

