@import "../../../../../mixins.scss";

.contents {
  display: flex;
  width: 100%;
  padding-top: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-overflow: clip;
  width: 100%;
  flex: 2;
}

.cv-button {
  background-color: #fdb933 !important;
  width: 100px;
  padding: 4px 8px;
}

.title {
  p {
    font-size: 40px;
    line-height: 0.8;
    font-weight: 600;
  }
}
.name {
  color: #fdb933;
  font-size: 20px;
  padding: 10px 0px;
}
.intro {
  font-weight: 500;
}
.introduction-image {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
  & img {
    max-height: 300px;
  }
}

@include desktop {
  .contents {
    gap: 120px;
    // flex-wrap: wrap;
  }
}
