<div class="contents">
  <div class="content">
    <div class="intro">Moikka, olen</div>
    <div class="name">Joni Röntynen</div>
    <div class="title">
      <p>Software</p>
      <p style="padding-left: 20px">
        Engineer<span style="color: #fdb933; font-size: 40px">.</span>
      </p>
    </div>
    <div class="desc">
      Ohjelmistokehittäjän hommissa toimiminen tarkoittaa jatkuvaa yhteistyötä
      eri tiimien, esimiesten ja asiakkaiden kanssa. Tämä korostaa
      viestintätaidon merkitystä työssäni
    </div>
    <div class="links">
      <button mat-button class="cv-button" (click)="downloadCv()">
        Avaa CV
      </button>
      <a href="https://www.linkedin.com/in/jonirontynen/" target="_blank">
        <img
          class="linkedIn"
          src="../../../../../assets/images/linkedIn.png"
          alt=""
        />
      </a>
      <a href="https://github.com/JoniRont" target="_blank">
        <img
          class="github"
          src="../../../../../assets/images/github-mark.png"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="introduction-image">
    <img src="assets/images/me-ellipse.png" alt="" />
  </div>
</div>
