<div class="contents">
  <div class="content">
    <div class="intro">Moikka, olen</div>
    <div class="name">Joni Röntynen</div>
    <div class="title">
      <p>Software</p>
      <p style="padding-left: 20px">
        Engineer<span style="color: #fdb933; font-size: 40px">.</span>
      </p>
    </div>
    <p>
      Ohjelmistokehittäjät usein työskentelevät usein tiimien, esimiesten ja
      asiakkaiden kanssa, he tarvitsevat vahvoja viestintätaitoja.
    </p>
    <div class="some-links">Somelinkit</div>
    <button mat-button class="cv-button">Lataa CV</button>
  </div>
  <div class="introduction-image">
    <img src="assets/images/me-ellipse.png" alt="" />
  </div>
</div>
