<section class="introduction">
  <div class="introduction-container">
    <div class="introduction-text">
      <h2>Kuka muka?</h2>
      <p>
        Hei, olen Joni, ja minulla on yli kahden vuoden kokemus ohjelmoinnista,
        erityisesti mobiilikehityksestä Flutterilla. Nykyisellään työskentelen
        teollisuuslaitoksen datan koostamisen ja visualisoinnin parissa.
      </p>
      <mat-divider class="divider"></mat-divider>
      <p>
        Voisin kuvata itseäni varsin tavalliseksi suomalaiseksi, mutta minulla
        on tapana lisätä tilanteisiin ripaus kuivaa huumoria. Flutterin
        maailmassa olen liikkunut jo hetken, ja olen saanut aikaan hienoja
        mobiilisovelluksia, joista olen ylpeä.
      </p>
      <mat-divider class="divider"></mat-divider>

      <p>
        Viime aikoina olen kuitenkin suunnannut katseeni kohti
        teollisuussektoria, missä datan visualisointi on keskiössä. Tämä työ
        vaatii teknistä taituruutta ja tarkkuutta, mutta se on myös äärimmäisen
        palkitsevaa.
      </p>
      <mat-divider class="divider"></mat-divider>

      <p>
        Suomalainen kuivakka huumori ja rauhallinen luonteeni kuvaa minua hyvin.
        Vitsini saattavat olla joskus hauskojakin ja ajoittain kollegani ainakin
        tuntuvat arvostavan sitä<span style="color: #fdb933">?</span>
      </p>
      <mat-divider class="divider"></mat-divider>

      <p>
        Lisäksi pidän haasteista ja ratkaisen mielelläni ongelmia luovalla
        tavalla. Kaiken kaikkiaan olen sitoutunut työhöni ja innokas oppimaan
        uutta. Flutterin ja datan visualisoinnin parissa olen kokenut monia
        onnistumisia, ja odotan innolla tulevia projekteja ja mahdollisuuksia
        kehittyä ohjelmoijana.
      </p>
    </div>
  </div>
</section>
