<mat-card>
  <mat-card-content>
    <div class="flutter">
      <mat-card-title>
        <img class="samples-image" src="assets/images/flutter-new.png" alt="" />
      </mat-card-title>
      <section>
        <p>
          Oon tehnyt Flutterilla mobiilisovelluksia 1,5 vuotta pääsääntöisesti
          asiakkaille. Nyt lisänä on oma projekti, joka on tarkoitettu perheeni
          käyttöön helpottamaan arkea. Tästä myöhemmin lisää..
        </p>
        <div>
          <p>
            Muutamia avainjuttuja mihin olen tutustunut Flutteria käytettäessä
          </p>
          <ul>
            <li>
              Flutterissa on käytössä on ollut <i>Navigator</i> ennen
              <i> GoRouter</i>:in julkaisua.
            </li>
            <li>
              Tilanhallinnassa on käytetty <i> Provideria </i> , sekä
              <i> Riverpodia </i>
            </li>
            <li>Kameran käyttö QR-koodeja lukiessa</li>
            <li>Deep linking</li>
            <li>Push-ilmoitukset</li>
          </ul>
        </div>
      </section>
    </div>
    <!-- <div class="divider">
      <img src="assets/images/divider.png" alt="" />
    </div> -->
  </mat-card-content>
</mat-card>
