@import "../../../../../../mixins.scss";

.flutter {
  display: flex;
  flex-direction: column;
  align-items: center;
  & section {
    padding-top: 20px;
  }
}
.samples-image {
  height: auto;
}

.button {
  cursor: pointer;
}

@include desktop {
  .samples-text {
    width: 100%;
  }
  .samples-image {
    width: 50%;
  }
}
