<div class="samples">
  <section class="samples-container-intro">
    <div class="samples-text">
      <h2>Mitä mä teen?</h2>
      <p>
        Nyt just yritän saada nää kotisivut valmiiks ja sit myös töissä
        normaalisti!
      </p>
    </div>
    <img
      class="samples-image image-background"
      src="assets/images/cat.png"
      alt=""
    />
  </section>
  <div class="section-row">
    <section class="flutter">
      <img
        class="samples-image image-background"
        src="assets/images/flutter.png"
        alt=""
      />
      <div class="samples-text">
        <p>
          Oon tehnyt Flutterilla mobiilisovelluksia 1,5 vuotta pääsääntöisesti
          asiakkaille. Nyt lisänä on oma projekti, joka on tarkoitettu perheeni
          käyttöön helpottamaan arkea. Tästä myöhemmin lisää..
        </p>

        <div>
          <p>
            Muutamia avainjuttuja mihin olen tutustunut Flutteria käytettäessä
          </p>
          <ul>
            <li>
              Flutterissa on käytössä on ollut Navigator ennen GoRouterin
              julkaisua.
            </li>
            <li>Tilanhallinnassa on käytetty Provideria, sekä Riverpodia</li>
            <li>Kameran käyttö QR-koodeja lukiessa</li>
            <li>Deep linking</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- <section class="aws">
      <div class="samples-text">
        <p>AWS</p>

        <div>
          <p>
            Muutamia avainjuttuja mihin olen tutustunut Flutteria käytettäessä
          </p>
          <ul>
            <li>
              Flutterissa on käytössä on ollut Navigator ennen GoRouterin
              julkaisua.
            </li>
            <li>Tilanhallinnassa on käytetty Provideria, sekä Riverpodia</li>
            <li>Kameran käyttö QR-koodeja lukiessa</li>
            <li>Deep linking</li>
          </ul>
        </div>
      </div>
    </section> -->
  </div>
</div>
