@import "../../../mixins.scss";
.divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.samples {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.flutter {
  display: flex;
  flex-direction: column;
  align-items: center;
  & section {
    width: 80%;
    padding-top: 20px;
  }
}
.aws {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.samples-container-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.samples-text {
  text-align: center;

  & p {
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
  }
  & h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
}

.samples-image {
  height: auto;
}
.image-background {
  width: 100%;
  background-color: #fdba3323;
  border-radius: 10px;
}

@include desktop {
  .samples-text {
    width: 100%;
  }
  .samples-image {
    width: 50%;
  }
}
