@import '../mixins.scss';
.main {
  width: 100%;
  display: flex;
  justify-content: center;

}
.background-text {
  position: fixed;
  z-index: -1;
  color: rgba(253, 186, 51, 0.078);
  font-size: 25em;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  font-family: fantasy;
  font-weight: bolder;
}
.main-components {
  background-color: "#FFFFFF";
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@include desktop {

}

