<div class="main">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="over" [opened]="drawerState" position="end">
      <app-drawer> </app-drawer>
    </mat-drawer>

    <div class="main-components">
      <div class="example-sidenav-content"></div>
      <app-header></app-header>
      <div style="width: 100%; height: 100%; padding-top: 50px">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </mat-drawer-container>
</div>
