<div class="drawer-container">
  <div class="header-navigation-buttons">
    <button mat-icon-button class="close-icon-button" (click)="closeDrawer()">
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/main')"
      [ngClass]="{ selected: currentPath === '/main' }"
    >
      Esittely
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/skills')"
      [ngClass]="{ selected: currentPath === '/skills' }"
    >
      Osaaminen
    </button>
    <button
      mat-button
      class="navigation-button"
      (click)="navigate('/project-x')"
      [ngClass]="{ selected: currentPath === '/project-x' }"
    >
      Projekti X
    </button>
  </div>
  <button
    mat-flat-button
    class="login-button"
    (click)="login()"
    target="_blank"
  >
    Kirjaudu
  </button>
</div>
