<mat-card>
  <mat-card-content>
    <div class="angular">
      <mat-card-title>
        <img class="samples-image" src="assets/images/angular.png" alt="" />
      </mat-card-title>
      <section>
        <p>
          Angular on tutuin frontin frameworkeistä minulle. Perusasiat ovat
          hallussa ja alla muutamia vahvuuksia
        </p>
        <div>
          <p>
            Datan visualisointi taulukoissa ja kaavioilla on tullut tutuksi!
            Alla muutamia kirjastoja
          </p>
          <ul>
            <li>Datan esittäminen taulokssa <i>Ag-grid</i>:iä käyttäen</li>
            <li>
              Kaavioita olen käyttänyt joko <i>js plotly</i>:ä hyödyntäen, tai
              <i>chart.js</i> kirjastolla
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- <div class="divider">
      <img src="assets/images/divider.png" alt="" />
    </div> -->
  </mat-card-content>
</mat-card>
