@import "../../../../../src/mixins.scss";
.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: fit-content;
  gap: 20px;
  padding-top: 50px;
  height: 100%;
}
.card {
  width: 30%;
}

@include desktop {
  .card-container {
    padding-top: 100px;
  }
}
