@import "../../../../../src/mixins.scss";
.card-container {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-items: center;
  gap: 20px;
  padding-top: 50px;
  justify-content: center;
}
.card {
  width: 100%;
  min-height: 300px;
  flex: 1;
}

@include desktop {
  .card-container {
    padding-top: 100px;
    flex-flow: row wrap;
  }
  .card {
    min-height: 400px;
    min-width: 300px;
    flex: 1;
  }
}
