/* You can add global styles to this file, and also import other style files */
@import "/src/mixins.scss";
html {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
body {
  margin: 0px;
  margin: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/images/background-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;
  width: 100%;
}
@include desktop {
  body {
    width: 90%;
  }
}

@include desktop-large {
  body {
    width: 60%;
  }
}
